@font-face {
    font-family: "Civil Premium";
    src: url(fonts/CivilPremium-Regular2.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Civil Premium";
    src: url(fonts/CivilPremium-Bold2.woff2);
    font-weight: bold;
}

* {
    font-family: "Civil Premium";
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3vw;
    width: 53vw;
    letter-spacing: -0.02em;
    line-height: 1.4;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 8vw;
        width: 80vw;
        letter-spacing: -0.02em;
        line-height: 1.4;
    }
  }
