* {
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3vw;
    width: 50vw;
    letter-spacing: -0.03em;
    line-height: 1.4;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 8vw;
        width: 80vw;
        letter-spacing: -0.05em;
        line-height: 1.4;
    }
  }
