@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Regular2.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Bold2.woff2);
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: url(/font/Inter-Regular.woff2);
    font-weight: 400;
}

* {
    font-family: "Civil Premium";
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    justify-content: center;
    background-color: #898989;
    margin: 0px;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(160, 80px);
    max-width: 1120px;
    padding: 80px;
    background-color: #f5f5f5;
}

header {
    background-image: url(/diagram-library/image/diagram-library.png);
    background-size: cover;
    background-position: center;
    max-width: 1280px;
    width: 100%;
    height: 460px;
    position: absolute;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.back {
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    position: relative;
    z-index: 3;
    top: 10px;
    left: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 74px;
    height: 32px;
    transition: background-color 0.2s cubic-bezier(0.16, 0.41, 0.74, 0.96);
}

.back:hover {
    background-color: #166ced;
}

.back-icon {
    position: relative;
    left: 8px;
}

.back-link {
    display: inline;
}

.back-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    position: relative;
    left: 11px;
    top: 1px;
}

h1 {
    grid-column: 1 / 13;
    grid-row: 6 / 8;
    font-size: 49px;
    line-height: 59px;
    font-weight: normal;
    letter-spacing: -2.9px;
    margin: 0px;
    position: relative;
    top: -30px;
}

.bold-title {
    letter-spacing: -1.5px;
}

.seperator {
    border-bottom: 1px solid #c6c6c6;
}

.s-1 {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
}

.work-info {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.info-name {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
    color: #acacac;
}

.info-content {
    grid-column: 3 / 6;
    grid-row: 8 / 10;
    color: #000000;
}

.info-name-item:not(:last-child), .info-content-item:not(:last-child) {
    margin-bottom: 14px;
}

.work-description {
    grid-column: 7 / 13;
    grid-row: 8 / 14;
}

.work-description-paragraph:not(:last-child) {
    margin-bottom: 14px;
} 

p {
    margin: 0px;
}

.body-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.quick-link {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
    align-self: end;
}

.link {
    font-size: 14px;
    line-height: 14px;
    color: #166ced;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.quick-link-item:not(:last-child) {
    margin-bottom: 16px;
}

.s-2 {
    grid-column: 1 / 13;
    grid-row: 14 / 15;
}

.section-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #acacac;
    font-weight: normal;
    margin: 0px;
}

.st-1 {
    grid-column: 1 / 3;
    grid-row: 15 / 16;
}

.diagrams-for-bocomm {
    grid-column: 1 / 9;
    grid-row: 16 / 32;
}

.diagram-background {
    background-color: #ffffff;
    padding: 66px;
}

.bank-of-communications-1 {
    max-width: 608px;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.bank-of-communications-2 {
    margin-top: 40px;
    max-width: 608px;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.image-description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
    color: #8e9aa9;
    text-align: center;
    font-family: "Inter";
}

.sample-1 {
    grid-column: 9 / 13;
    grid-row: 16 / 18;
    justify-self: right;
    width: 88%;
}

.paragraph-title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.5px;
    margin: 0px;
}

.body-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.fp-1 {
    margin-top: 12px;
}

.sample-2 {
    grid-column: 1 / 5;
    grid-row: 33 / 35;
    width: 88%;
}

.fp-2 {
    margin-top: 12px;
}

.diagram-for-mark-fairwhale {
    grid-column: 5 / 13;
    grid-row: 33 / 44;
}

.mark-fairwhale {
    max-width: 608px;
    width: 100%;
}

.diagram-for-yellow-river {
    grid-column: 1 / 9;
    grid-row: 45 / 56;
}

.yellow-river {
    max-width: 608px;
    width: 100%;
}

.sample-3 {
    grid-column: 9 / 13;
    grid-row: 45 / 47;
    justify-self: right;
    width: 88%;
}

.fp-3 {
    margin-top: 12px;
}

.s-3 {
    grid-column: 1 / 13;
    grid-row: 56 / 57;
}

.st-2 {
    grid-column: 1 / 3;
    grid-row: 57 / 58;
}

.process-title-1 {
    grid-column: 2 / 12;
    grid-row: 58 / 59;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0px;
}

.process-title-text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 15px;
}

.fp-4 {
    grid-column: 2 / 12;
    grid-row: 59 / 61;
    margin-top: 0px;
}

.typical-architecture-diagram {
    grid-column: 2 / 12;
    grid-row: 61 / 66;
    width: 100%;
}

.initial-goals {
    grid-column: 2 / 7;
    grid-row: 67 / 69;
    width: 90%;
    position: relative;
    top: -40px;
}

.goal-list {
    grid-column: 7 / 12;
    grid-row: 67 / 69;
    margin: 0px;
    position: relative;
    top: -40px;
}

.goal-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.fp-4 {
    margin-top: 12px;
}

.process-title-2 {
    grid-column: 2 / 12;
    grid-row: 70 / 71;
}

.fp-5 {
    grid-column: 2 / 12;
    grid-row: 71 / 72;
}

.expandable-grid {
    grid-column: 2 / 12;
    grid-row: 73 / 81;
    width: 100%;
}

.pt-5 {
    grid-column: 2 / 6;
    grid-row: 81 / 82;
}

.fp-6 {
    grid-column: 6 / 12;
    grid-row: 81 / 82;
}

.video-container {
    grid-column: 2 / 12;
    grid-row: 83 / 91;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expandable-grid-video {
    width: 100%;
    max-width: 608px;
}

.process-title-3 {
    grid-column: 2 / 12;
    grid-row: 92 / 93;
}

.fp-7 {
    grid-column: 2 / 12;
    grid-row: 93 / 94;
}

.colors {
    grid-column: 1 / 7;
    grid-row: 95 / 100;
    width: 100%;
}

.first-3d-icon-set {
    grid-column: 7 / 13;
    grid-row: 95 / 100;
    width: 100%;
}

.diagrams-for-ecarx {
    grid-column: 1 / 13;
    grid-row: 100 / 108;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ecarx {
    width: 100%;
    max-width: 720px;
}

.blender-screenshot {
    grid-column: 1 / 9;
    grid-row: 109 / 115;
    width: 100%;
    max-width: 710px;
}

.shift-to-minimalism {
    grid-column: 9 / 13;
    grid-row: 109 / 112;
    position: relative;
    top: 20px;
}

.fp-8 {
    margin-top: 12px;
}

.variants-image {
    grid-column: 1 / 9;
    grid-row: 115 / 126;
    width: 100%;
    max-width: 710px;
}

.figma-panel {
    grid-column: 9 / 13;
    grid-row: 115 / 116;
    width: 100%;
}

.variants {
    grid-column: 9 / 13;
    grid-row: 117 / 119;
    position: relative;
    top: -15px;
}

.fp-9 {
    margin-top: 12px;
}

.software-icons-image {
    grid-column: 1 / 9;
    grid-row: 127 / 130;
    width: 100%;
    max-width: 710px;
}

.icons-for-software {
    grid-column: 9 / 13;
    grid-row: 127 / 130;
    position: relative;
    top: 0px;
}

.s-4 {
    grid-column: 1 / 13;
    grid-row: 131 / 132;
}

.st-3 {
    grid-column: 1 / 3;
    grid-row: 132 / 133;
}

.diagrams-for-guotai {
    grid-column: 1 / 9;
    grid-row: 133 / 149;
}

.guotai-junan-securities-1 {
    max-width: 608px;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.guotai-junan-securities-2 {
    margin-top: 40px;
    max-width: 608px;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.diagrams-for-healthcare-industry-solution {
    grid-column: 1 / 13;
    grid-row: 150 / 160;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.healthcare-industry-solution {
    width: 100%;
    max-width: 872px;
}

footer {
    grid-column: 1 / 13;
    grid-row: 160 / 161;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #8d8d8d;
    border-top: 1px solid #c6c6c6;
    padding-top: 16px;
    align-self: end;
}