@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Regular2.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Bold2.woff2);
    font-weight: bold;
}

* {
    font-family: "Civil Premium";
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    justify-content: center;
    background-color: #898989;
    margin: 0px;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(141, 80px);
    max-width: 1120px;
    padding: 80px;
    background-color: #f5f5f5;
}

header {
    grid-column: 1 / 13;
    grid-row: 1 / 5;
    align-self: end;
    justify-self: center;
}

.header-image {
    max-width: 1280px;
}

h1 {
    grid-column: 1 / 13;
    grid-row: 6 / 8;
    font-size: 49px;
    line-height: 59px;
    font-weight: normal;
    letter-spacing: -2.9px;
    margin: 0px;
}

.bold-title {
    letter-spacing: -1.5px;
}

.seperator {
    border-bottom: 1px solid #c6c6c6;
}

.s-1 {
    grid-column: 1 / 13;
    grid-row: 8 / 9;
}

.work-info {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.info-name {
    grid-column: 1 / 3;
    grid-row: 9 / 11;
    color: #acacac;
}

.info-content {
    grid-column: 3 / 5;
    grid-row: 9 / 11;
    color: #000000;
}

.info-name-item:not(:last-child), .info-content-item:not(:last-child) {
    margin-bottom: 14px;
}

.work-description {
    grid-column: 7 / 13;
    grid-row: 9 / 15;
}

.body-text:not(:last-child) {
    margin-bottom: 14px;
} 

p {
    margin: 0px;
}

.body-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.quick-link {
    grid-column: 1 / 3;
    grid-row: 13 / 15;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
    align-self: end;
}

.link {
    font-size: 14px;
    line-height: 14px;
    color: #166ced;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.quick-link-item:not(:last-child) {
    margin-bottom: 16px;
}

.s-2 {
    grid-column: 1 / 13;
    grid-row: 15 / 16;
}

.section-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #acacac;
    font-weight: normal;
    margin: 0px;
}

.st-1 {
    grid-column: 1 / 3;
    grid-row: 16 / 17;
}

.product-tour-prototype {
    grid-column: 1 / 13;
    grid-row: 17 / 26;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%
}

.paragraph-title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.5px;
    margin: 0px;
}

.pt-1 {
    grid-column: 1 / 5;
    grid-row: 26 / 27;
}

.fp-1 {
    grid-column: 5 / 13;
    grid-row: 26 / 27;
}

.video-container-1 {
    grid-column: 1 / 9;
    grid-row: 28 / 36;
}

.position-box-1 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.position-container-1 {
    position: absolute;
    width: 100%;
    height: 92%;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 6px 26px rgba(0, 0, 0, 0.14);
    z-index: 1;
    overflow: hidden;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
}

.product-tour-video {
    width: 100%;
}

.feature-2 {
    grid-column: 9 / 13;
    grid-row: 28 / 30;
}

.fp-2 {
    margin-top: 12px;
}

.feature-3 {
    grid-column: 1 / 5;
    grid-row: 36 / 38;
}

.fp-3 {
    margin-top: 12px;
}

.video-container-2 {
    grid-column: 5 / 13;
    grid-row: 34 / 42;
}

.position-box-2 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.position-container-2 {
    position: absolute;
    width: 100%;
    height: 92%;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 6px 26px rgba(0, 0, 0, 0.14);
    z-index: 2;
    overflow: hidden;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
}

.smartx-community-video {
    width: 100%;
}

.s-3 {
    grid-column: 1 / 13;
    grid-row: 41 / 42;
}

.st-2 {
    grid-column: 1 / 3;
    grid-row: 42 / 43;
}

.process-title-1 {
    grid-column: 2 / 12;
    grid-row: 43 / 44;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0px;
}

.process-title-text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 15px;
}

.fp-4 {
    grid-column: 2 / 12;
    grid-row: 44 / 46;
}

.visualize-goal {
    grid-column: 2 / 12;
    grid-row: 46 / 50;
    width: 100%;
    align-self: center;
}

.initial-goals {
    grid-column: 2 / 7;
    grid-row: 51 / 53;
    width: 80%;
}

.fp-4 {
    margin-top: 12px;
}

.goal-list {
    grid-column: 7 / 12;
    grid-row: 51 / 55;
    margin: 0px;
    padding: 0px;
}

.goal-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.process-title-2 {
    grid-column: 2 / 12;
    grid-row: 57 / 58;
}

.fp-5 {
    grid-column: 2 / 12;
    grid-row: 58 / 60;
}

.video-container-3 {
    grid-column: 1 / 7;
    grid-row: 60 / 65;
    
}

.position-box-3 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.position-container-3 {
    position: absolute;
    width: 100%;
    height: 71%;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 7px 27px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
}

.original-prototype-video {
    width: 100%;
}

.image-container-1 {
    grid-column: 7 / 13;
    grid-row: 60 / 65;
}

.position-box-4 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.position-container-4 {
    position: absolute;
    width: 100%;
    height: 71%;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 7px 27px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    overflow: hidden;
}

.original-prototype-2 {
    width: 100%;
}

.fp-6 {
    grid-column: 3 / 11;
    grid-row: 65 / 66;
}

.video-container-4 {
    grid-column: 3 / 11;
    grid-row: 66 / 72;
}

.position-box-5 {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.position-container-5 {
    position: absolute;
    width: 100%;
    height: 71.2%;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 7px 27px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
}

.original-prototype-decision {
    width: 100%;
}

.process-title-3 {
    grid-column: 2 / 12;
    grid-row: 73 / 74;
}

.fp-7 {
    grid-column: 2 / 12;
    grid-row: 74 / 75;
}

.varients-of-landing-page {
    grid-column: 1 / 13;
    grid-row: 76 / 81;
    width: 100%;
}

.process-title-4 {
    grid-column: 2 / 12;
    grid-row: 82 / 83;
}

.fp-8 {
    grid-column: 2 / 12;
    grid-row: 83 / 84;
}

.detailed-work {
    grid-column: 1 / 13;
    grid-row: 85 / 91;
    width: 100%;
}

.little-detail-1 {
    grid-column: 1 / 7;
    grid-row: 92 / 98;
    width: 100%;
}

.line {
    height: 1px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: #7d7d7d;
}

.l-1 {
    grid-column: 4 / 8;
    grid-row: 93 / 94;
    justify-self: right;
    width: 79%;
}

.detail-description-1 {
    grid-column: 8 / 13;
    grid-row: 93 / 95;
    position: relative;
    top: -11px;
}

.fp-9 {
    margin-top: 12px;
}

.little-detail-1-2 {
    grid-column: 8 / 13;
    grid-row: 95 / 98;
    width: 100%;
    align-self: end;
}

.process-title-5 {
    grid-column: 2 / 12;
    grid-row: 99 / 100;
}

.fp-10 {
    grid-column: 2 / 12;
    grid-row: 100 / 101;
}

.covers-video {
    grid-column: 1 / 13;
    grid-row: 102 / 107;
    width: 100%;
}

.s-4 {
    grid-column: 1 / 13;
    grid-row: 107 / 108;
}

.st-3 {
    grid-column: 1 / 13;
    grid-row: 108 / 109;
}

.process-title-6 {
    grid-column: 2 / 12;
    grid-row: 109 / 110;
}

.fp-11 {
    grid-column: 2 / 12;
    grid-row: 110 / 111;
}

.flow-container {
    grid-column: 1 / 13;
    grid-row: 112 / 117;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #e5e5e5;
}

.flow-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.flow-container::-webkit-scrollbar:horizontal {
    height: 28px;
}

.flow-container::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 10px solid #e5e5e5;
    background-color: rgba(0, 0, 0, .29);
}

.flow {
    height: 100%;
}

.detail-description-2 {
    grid-column: 2 / 6;
    grid-row: 121 / 122;
    position: relative;
    top: -39px;
}

.fp-12 {
    margin-top: 12px;
}

.l-2 {
    grid-column: 3 / 8;
    grid-row: 120 / 121;
    align-self: end;
    z-index: 2;
    width: 79%;
    justify-self: center;
    position: relative;
    left: -6px;
    bottom: 7px;
}

.package-sent {
    grid-column: 7 / 12;
    grid-row: 118 / 123;
    max-width: 424px;
    box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.19), 0px 25px 80px rgba(0, 0, 0, 0.27);
    border-radius: 8px;
    z-index: 1;
}

.all-community-works {
    grid-column: 1 / 13;
    grid-row: 124 / 129;
    width: 100%;
}

.s-5 {
    grid-column: 1 / 13;
    grid-row: 129 / 130;
}

.st-4 {
    grid-column: 1 / 3;
    grid-row: 130 / 131;
}

.fp-13 {
    grid-column: 2 / 12;
    grid-row: 131 / 132;
}

.owc-1 {
    grid-column: 1 / 5;
    grid-row: 133 / 137;
    background-image: url(/product-tour-and-smartx-community/image/other-works-1.png);
}

.owc-2 {
    grid-column: 5 / 9;
    grid-row: 133 / 137;
    background-image: url(/product-tour-and-smartx-community/image/other-works-2.png);
}

.owc-3 {
    grid-column: 9 / 13;
    grid-row: 133 / 137;
    background-image: url(/product-tour-and-smartx-community/image/other-works-3.png);
}

.owc-4 {
    grid-column: 1 / 5;
    grid-row: 137 / 141;
    background-image: url(/product-tour-and-smartx-community/image/other-works-4.png);
}

.owc-5 {
    grid-column: 5 / 9;
    grid-row: 137 / 141;
    background-image: url(/product-tour-and-smartx-community/image/other-works-5.png);
}

.owc-6 {
    grid-column: 9 / 13;
    grid-row: 137 / 141;
    background-image: url(/product-tour-and-smartx-community/image/other-works-6.png);
}

.other-works-container {
    background-size: cover;
    background-color: #000000;
    background-position: center;
}

footer {
    grid-column: 1 / 13;
    grid-row: 141 / 142;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #8d8d8d;
    border-top: 1px solid #c6c6c6;
    padding-top: 16px;
    align-self: end;
}