@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Regular2.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Bold2.woff2);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(/font/roboto-v29-latin-regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(/font/roboto-v29-latin-700.woff2);
    font-weight: bold;
}

* {
    font-family: "Civil Premium";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #898989;
    margin: 0px;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(160, 80px);
    max-width: 1120px;
    padding: 80px;
    background-color: #f5f5f5;
}

header {
    background-image: url(/yunify-glyph/image/yunify-glyph.png);
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1280px;
    width: 100%;
    height: 460px;
    position: absolute;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.back {
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 16px;
    position: relative;
    z-index: 3;
    top: 10px;
    left: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 74px;
    height: 32px;
    transition: background-color 0.2s cubic-bezier(0.16, 0.41, 0.74, 0.96);
}

.back:hover {
    background-color: #166ced;
}

.back-icon {
    position: relative;
    left: 8px;
}

.back-link {
    display: inline;
}

.back-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    position: relative;
    left: 11px;
    top: 1px;
}

h1 {
    grid-column: 1 / 13;
    grid-row: 6 / 8;
    font-size: 49px;
    line-height: 59px;
    font-weight: normal;
    letter-spacing: -2.9px;
    margin: 0px;
    position: relative;
    top: -20px;
}

.bold-title {
    letter-spacing: -1.5px;
}

.seperator {
    border-bottom: 1px solid #c6c6c6;
}

.s-1 {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
    position: relative;
    top: -40px;
}

.work-info {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.info-name {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
    color: #acacac;
    position: relative;
    top: -40px;
}

.info-content {
    grid-column: 3 / 6;
    grid-row: 8 / 10;
    color: #000000;
    position: relative;
    top: -40px;
}

.info-name-item:not(:last-child), .info-content-item:not(:last-child) {
    margin-bottom: 14px;
}

.work-description {
    grid-column: 7 / 13;
    grid-row: 8 / 14;
    position: relative;
    top: -40px;
}

.work-description-paragraph:not(:last-child) {
    margin-bottom: 14px;
} 

p {
    margin: 0px;
}

.body-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.quick-link {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
    align-self: end;
    position: relative;
    top: -30px;
}

.link {
    font-size: 14px;
    line-height: 14px;
    color: #166ced;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.quick-link-item:not(:last-child) {
    margin-bottom: 16px;
}

.s-2 {
    grid-column: 1 / 13;
    grid-row: 13 / 14;
}

.section-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #acacac;
    font-weight: normal;
    margin: 0px;
}

.st-1 {
    grid-column: 1 / 3;
    grid-row: 14 / 15;
}

.icon-set-container {
    grid-column: 1 / 13;
    grid-row: 15 / 34;
    background-color: #ffffff;
    padding: 100px 95px;
}

.category-name {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-family: "Roboto";
    font-weight: bold;
    margin: 0px;
}

.icon-name {
    font-size: 12px;
    line-height: 12px;
    font-family: "Roboto";
    font-weight: normal;
    color: #697886;
    margin-top: 12px;
    white-space: nowrap;
}

.icon-container {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    max-width: 75px;
    align-items: center;
    min-height: 80px;
}

.category-container {
    margin-top: 72px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}

.icon-category:not(:first-child) {
    margin-top: 128px;
}

.s-3 {
    grid-column: 1 / 13;
    grid-row: 34 / 35;
}

.st-2 {
    grid-column: 1 / 13;
    grid-row: 35 / 36;
}

.process-title-1 {
    grid-column: 2 / 12;
    grid-row: 36 / 37;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0px;
}

.process-title-text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 15px;
}

.fp-1 {
    grid-column: 2 / 12;
    grid-row: 37 / 39;
    margin-top: 0px;
}

.typical-icon-library {
    grid-column: 3 / 11;
    grid-row: 39 / 45;
    width: 100%;
}

.initial-goals {
    grid-column: 2 / 7;
    grid-row: 45 / 47;
    width: 90%;
    position: relative;
    top: 0px;
}

.goal-list {
    grid-column: 7 / 12;
    grid-row: 45 / 48;
    margin: 0px;
    position: relative;
    top: 15px;
}

.goal-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.fp-2 {
    margin-top: 12px;
}

.process-title-2 {
    grid-column: 2 / 12;
    grid-row: 49 / 50;
}

.fp-3 {
    grid-column: 2 / 12;
    grid-row: 50 / 51;
}

.image-container {
    grid-column: 2 / 12;
    grid-row: 52 / 58;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 93px;
}

.template-image {
    min-width: 0;
}

.process-title-3 {
    grid-column: 2 / 12;
    grid-row: 59 / 60;
}

.fp-4 {
    grid-column: 2 / 12;
    grid-row: 60 / 61;
}

.grey-icon {
    grid-column: 1 / 5;
    grid-row: 62 / 66;
    width: 100%;
    height: 380px;
    object-fit: contain;
}

.green-icon {
    grid-column: 5 / 9;
    grid-row: 62 / 66;
    width: 100%;
    height: 380px;
    object-fit: contain;
}

.white-icon {
    grid-column: 9 / 13;
    grid-row: 62 / 66;
    width: 100%;
    height: 380px;
    object-fit: contain;
}