@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Regular2.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Bold2.woff2);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(/font/roboto-v29-latin-regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(/font/roboto-v29-latin-700.woff2);
    font-weight: bold;
}

* {
    font-family: "Civil Premium";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #898989;
    margin: 0px;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(111, 80px);
    max-width: 1120px;
    padding: 80px;
    background-color: #f5f5f5;
}

header {
    background-image: url(/yunify-glyph/image/yunify-glyph.png);
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1280px;
    width: 100%;
    height: 460px;
    position: absolute;
}

.back {
    background-color: rgba(50, 69, 88, 0.7);
    border-radius: 16px;
    position: relative;
    z-index: 3;
    top: 10px;
    left: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 74px;
    height: 32px;
    transition: background-color 0.2s cubic-bezier(0.16, 0.41, 0.74, 0.96);
}

.back:hover {
    background-color: #166ced;
}

.back-icon {
    position: relative;
    left: 8px;
}

.back-link {
    display: inline;
}

.back-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    position: relative;
    left: 11px;
    top: 1px;
}

h1 {
    grid-column: 1 / 13;
    grid-row: 5 / 7;
    align-self: center;
    font-size: 49px;
    line-height: 59px;
    font-weight: normal;
    letter-spacing: -2.9px;
    margin: 0px;
    position: relative;
    top: 20px;
}

.bold-title {
    letter-spacing: -1.5px;
}

.seperator {
    border-bottom: 1px solid #c6c6c6;
}

.s-1 {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
    position: relative;
    top: -40px;
}

.work-info {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.info-name {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
    color: #acacac;
    position: relative;
    top: -40px;
}

.info-content {
    grid-column: 3 / 6;
    grid-row: 8 / 10;
    color: #000000;
    position: relative;
    top: -40px;
}

.info-name-item:not(:last-child), .info-content-item:not(:last-child) {
    margin-bottom: 14px;
}

.work-description {
    grid-column: 7 / 13;
    grid-row: 8 / 14;
    position: relative;
    top: -40px;
}

.work-description-paragraph:not(:last-child) {
    margin-bottom: 14px;
} 

p {
    margin: 0px;
}

.body-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.quick-link {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
    align-self: end;
    position: relative;
    top: -30px;
}

.link {
    font-size: 14px;
    line-height: 14px;
    color: #166ced;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.quick-link-item:not(:last-child) {
    margin-bottom: 16px;
}

.s-2 {
    grid-column: 1 / 13;
    grid-row: 13 / 14;
}

.section-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #acacac;
    font-weight: normal;
    margin: 0px;
}

.st-1 {
    grid-column: 1 / 3;
    grid-row: 14 / 15;
}

.icon-set-container {
    grid-column: 1 / 13;
    grid-row: 15 / 42;
    background-color: #ffffff;
    padding: 100px 95px;
}

.category-name {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.3px;
    font-family: "Roboto";
    font-weight: bold;
    margin: 0px;
}

.icon-name {
    font-size: 12px;
    line-height: 12px;
    font-family: "Roboto";
    font-weight: normal;
    color: #697886;
    margin-top: 12px;
    white-space: nowrap;
}

.icon-container {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    max-width: 75px;
    align-items: center;
    min-height: 80px;
}

.category-container {
    margin-top: 72px;
    width: 100%;
    display: grid;
    justify-items: center;
    row-gap: 60px;
    column-gap: 30px;
    grid-template-columns: repeat(8, minmax(48px, 1fr));
}

.icon-category:not(:first-child) {
    margin-top: 128px;
}

.s-3 {
    grid-column: 1 / 13;
    grid-row: 42 / 43;
}

.st-2 {
    grid-column: 1 / 13;
    grid-row: 43 / 44;
}

.process-title-1 {
    grid-column: 2 / 12;
    grid-row: 44 / 45;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0px;
}

.process-title-text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 15px;
}

.fp-1 {
    grid-column: 2 / 12;
    grid-row: 45 / 47;
    margin-top: 0px;
}

.typical-icon-library {
    grid-column: 3 / 11;
    grid-row: 47 / 53;
    width: 100%;
    align-self: center;
}

.initial-goals {
    grid-column: 2 / 7;
    grid-row: 53 / 55;
    width: 90%;
    position: relative;
    top: 0px;
}

.goal-list {
    grid-column: 7 / 12;
    grid-row: 53 / 56;
    margin: 0px;
    position: relative;
    top: 0px;
}

.pt-1 {
    margin: 0px;
}

.goal-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.fp-2 {
    margin-top: 12px;
}

.process-title-2 {
    grid-column: 2 / 12;
    grid-row: 57 / 58;
}

.fp-3 {
    grid-column: 2 / 12;
    grid-row: 58 / 59;
}

.image-container {
    grid-column: 2 / 12;
    grid-row: 60 / 66;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 93px;
}

.template-image {
    min-width: 0;
}

.process-title-3 {
    grid-column: 2 / 12;
    grid-row: 67 / 68;
}

.fp-4 {
    grid-column: 2 / 12;
    grid-row: 68 / 69;
}

.grey-icon {
    grid-column: 1 / 5;
    grid-row: 70 / 74;
    width: 100%;
    height: 380px;
    object-fit: contain;
}

.green-icon {
    grid-column: 5 / 9;
    grid-row: 70 / 74;
    width: 100%;
    height: 380px;
    object-fit: contain;
}

.white-icon {
    grid-column: 9 / 13;
    grid-row: 70 / 74;
    width: 100%;
    height: 380px;
    object-fit: contain;
}

.process-title-4 {
    grid-column: 2 / 12;
    grid-row: 75 / 76;
}

.fp-5 {
    grid-column: 2 / 12;
    grid-row: 76 / 79;
}

.fp-6 {
    margin-top: 10px;
}

.sizes-image {
    grid-column: 2 / 12;
    grid-row: 79 / 82;
    align-self: end;
    width: 100%;
}

.fp-7 {
    grid-column: 2 / 12;
    grid-row: 82 / 83;
}

.process-title-5 {
    grid-column: 2 / 12;
    grid-row: 84 / 85;
}

.fp-8 {
    grid-column: 2 / 12;
    grid-row: 85 / 87;
    width: 98%;
}

.shapes-image {
    grid-column: 2 / 12;
    grid-row: 87 / 90;
    width: 100%;
}

.s-4 {
    grid-column: 1 / 13;
    grid-row: 90 / 91;
}

.st-3 {
    grid-column: 1 / 3;
    grid-row: 91 / 92;
}

.video-container {
    grid-column: 1 / 13;
    grid-row: 92 / 100;
}

.position-box {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.position-container {
    position: absolute;
    width: 100%;
    height: 69.64%;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 6px 26px rgba(0, 0, 0, 0.14);
    overflow: hidden;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
}

.appcenter-video {
    width: 100%;
}

.s-5 {
    grid-column: 1 / 13;
    grid-row: 100 / 101;
}

.st-4 {
    grid-column: 1 / 3;
    grid-row: 101 / 102;
}

.fp-9 {
    grid-column: 2 / 12;
    grid-row: 102 / 103;
    position: relative;
    top: -20px;
}

.owc-1 {
    grid-column: 1 / 5;
    grid-row: 103 / 107;
    background-image: url(/yunify-glyph/image/other-works-1.png);
}

.owc-2 {
    grid-column: 5 / 9;
    grid-row: 103 / 107;
    background-image: url(/yunify-glyph/image/other-works-2.png);
}

.owc-3 {
    grid-column: 9 / 13;
    grid-row: 103 / 107;
    background-image: url(/yunify-glyph/image/other-works-3.png);
}

.owc-4 {
    grid-column: 1 / 5;
    grid-row: 107 / 111;
    background-image: url(/yunify-glyph/image/other-works-4.png);
}

.owc-5 {
    grid-column: 5 / 9;
    grid-row: 107 / 111;
    background-image: url(/yunify-glyph/image/other-works-5.png);
}

.owc-6 {
    grid-column: 9 / 13;
    grid-row: 107 / 111;
    background-image: url(/yunify-glyph/image/other-works-6.png);
}

.other-works-container {
    background-size: contain;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    grid-column: 1 / 13;
    grid-row: 111 / 112;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #8d8d8d;
    border-top: 1px solid #c6c6c6;
    padding-top: 16px;
    align-self: end;
}

@media (max-width: 1112px) {
    main {
        display: grid;
        gap: 17px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(112, 80px);
        padding: 70px;
        background-color: #f5f5f5;
    }
    
    header {
        background-image: url(/yunify-glyph/image/yunify-glyph.png);
        background-color: #ffffff;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1280px;
        width: 100%;
        height: 441px;
        position: absolute;
    }
    
    .back {
        background-color: rgba(0, 0, 0, 0.58);
        border-radius: 16px;
        position: relative;
        z-index: 3;
        top: 10px;
        left: 8px;
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 74px;
        height: 32px;
        transition: background-color 0.2s cubic-bezier(0.16, 0.41, 0.74, 0.96);
    }
    
    .back:hover {
        background-color: #166ced;
    }
    
    .back-icon {
        position: relative;
        left: 8px;
    }
    
    .back-link {
        display: inline;
    }
    
    .back-text {
        color: #ffffff;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        position: relative;
        left: 11px;
        top: 1px;
    }
    
    h1 {
        grid-column: 1 / 7;
        grid-row: 5 / 7;
        align-self: center;
        font-size: 38px;
        line-height: 48px;
        font-weight: normal;
        letter-spacing: -1.5px;
        margin: 0px;
        position: relative;
        top: -10px;
    }
    
    .bold-title {
        letter-spacing: -1px;
    }
    
    .seperator {
        border-bottom: 1px solid #c6c6c6;
    }
    
    .s-1 {
        grid-column: 1 / 7;
        grid-row: 6 / 7;
        position: relative;
        top: 0px;
    }
    
    .work-info {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.1px;
    }
    
    .info-name {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        color: #acacac;
        position: relative;
        top: 0px;
    }
    
    .info-content {
        grid-column: 2 / 4;
        grid-row: 7 / 8;
        color: #000000;
        position: relative;
        top: 0px;
    }
    
    .info-name-item:not(:last-child), .info-content-item:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .work-description {
        grid-column: 4 / 7;
        grid-row: 7 / 12;
        position: relative;
        top: 0px;
    }
    
    .work-description-paragraph:not(:last-child) {
        margin-bottom: 10px;
    } 
    
    p {
        margin: 0px;
    }
    
    .body-text {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.1px;
    }
    
    .quick-link {
        grid-column: 1 / 2;
        grid-row: 11 / 12;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        line-height: 13px;
        align-self: end;
        position: relative;
        top: 0px;
    }
    
    .link {
        font-size: 13px;
        line-height: 13px;
        color: #166ced;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
    
    .quick-link-item:not(:last-child) {
        margin-bottom: 14px;
    }
    
    .s-2 {
        grid-column: 1 / 7;
        grid-row: 13 / 14;
    }
    
    .section-title {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.1px;
        color: #acacac;
        font-weight: normal;
        margin: 0px;
    }
    
    .st-1 {
        grid-column: 1 / 3;
        grid-row: 14 / 15;
    }
    
    .icon-set-container {
        grid-column: 1 / 7;
        grid-row: 15 / 46;
        background-color: #ffffff;
        padding: 90px 85px;
    }
    
    .category-name {
        font-size: 28px;
        line-height: 28px;
        letter-spacing: -0.3px;
        font-family: "Roboto";
        font-weight: bold;
        margin: 0px;
    }
    
    .icon-name {
        font-size: 12px;
        line-height: 12px;
        font-family: "Roboto";
        font-weight: normal;
        color: #697886;
        margin-top: 12px;
        white-space: nowrap;
    }
    
    .icon-container {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        max-width: 75px;
        align-items: center;
        min-height: 80px;
    }
    
    .category-container {
        margin-top: 72px;
        width: 100%;
        display: grid;
        justify-items: center;
        row-gap: 60px;
        column-gap: 30px;
        grid-template-columns: repeat(7, minmax(48px, 1fr));
    }
    
    .icon-category:not(:first-child) {
        margin-top: 128px;
    }
    
    .s-3 {
        grid-column: 1 / 7;
        grid-row: 46 / 47;
        position: relative;
        top: 15px;
    }
    
    .st-2 {
        grid-column: 1 / 7;
        grid-row: 47 / 48;
        position: relative;
        top: 15px;
    }
    
    .process-title-1 {
        grid-column: 2 / 6;
        grid-row: 48 / 49;
        position: relative;
        top: 15px;
    }
    
    .subtitle {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.2px;
        margin: 0px;
    }
    
    .process-title-text {
        font-size: 31px;
        line-height: 38px;
        letter-spacing: -0.3px;
        margin-top: 6px;
    }
    
    .fp-1 {
        grid-column: 2 / 6;
        grid-row: 49 / 51;
        margin-top: 0px;
    }
    
    .typical-icon-library {
        grid-column: 2 / 6;
        grid-row: 51 / 57;
        width: 100%;
        align-self: center;
        position: relative;
        top: 20px;
    }
    
    .initial-goals {
        grid-column: 2 / 6;
        grid-row: 57 / 58;
        width: 100%;
        position: relative;
        top: 0px;
    }
    
    .goal-list {
        grid-column: 2 / 6;
        grid-row: 58 / 60;
        margin: 0px;
        position: relative;
        top: 40px;
    }

    .pt-1 {
        margin: 0px;
    }
    
    .goal-list-item:not(:last-child) {
        margin-bottom: 9px;
    }
    
    .fp-2 {
        margin-top: 9px;
    }
    
    .process-title-2 {
        grid-column: 2 / 6;
        grid-row: 62 / 63;
        position: relative;
        top: -20px;
    }
    
    .fp-3 {
        grid-column: 2 / 6;
        grid-row: 63 / 64;
        position: relative;
        top: -30px;
    }
    
    .image-container {
        grid-column: 2 / 6;
        grid-row: 65 / 69;
        background-color: #ffffff;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 60px 32px;
        position: relative;
        top: -40px;
    }
    
    .template-image {
        min-width: 0;
    }
    
    .process-title-3 {
        grid-column: 2 / 6;
        grid-row: 70 / 71;
    }
    
    .fp-4 {
        grid-column: 2 / 6;
        grid-row: 71 / 73;
        position: relative;
        top: -10px;
    }
    
    .grey-icon {
        grid-column: 1 / 3;
        grid-row: 73 / 77;
        width: 100%;
        height: 380px;
        object-fit: contain;
    }
    
    .green-icon {
        grid-column: 3 / 5;
        grid-row: 73 / 77;
        width: 100%;
        height: 380px;
        object-fit: contain;
    }
    
    .white-icon {
        grid-column: 5 / 7;
        grid-row: 73 / 77;
        width: 100%;
        height: 380px;
        object-fit: contain;
    }
    
    .process-title-4 {
        grid-column: 2 / 6;
        grid-row: 78 / 79;
    }
    
    .fp-5 {
        grid-column: 2 / 6;
        grid-row: 79 / 82;
    }
    
    .fp-6 {
        margin-top: 10px;
    }
    
    .sizes-image {
        grid-column: 2 / 6;
        grid-row: 83 / 85;
        align-self: end;
        width: 100%;
    }
    
    .fp-7 {
        grid-column: 2 / 6;
        grid-row: 85 / 86;
    }
    
    .process-title-5 {
        grid-column: 2 / 6;
        grid-row: 87 / 88;
    }
    
    .fp-8 {
        grid-column: 2 / 6;
        grid-row: 88 / 90;
        width: 100%;
        position: relative;
        top: -15px;
    }
    
    .shapes-image {
        grid-column: 2 / 6;
        grid-row: 90 / 93;
        width: 100%;
        align-self: center;
        position: relative;
        top: -20px;
    }
    
    .s-4 {
        grid-column: 1 / 7;
        grid-row: 93 / 94;
    }
    
    .st-3 {
        grid-column: 1 / 2;
        grid-row: 94 / 95;
    }
    
    .video-container {
        grid-column: 1 / 7;
        grid-row: 95 / 102;
    }
    
    .position-box {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
    }
    
    .position-container {
        position: absolute;
        width: 100%;
        height: 69.64%;
        border: 1px solid #ffffff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04), 0px 9px 30px rgba(0, 0, 0, 0.07);
        overflow: hidden;
        border-radius: 6px;
        -webkit-transform: translateZ(0);
    }
    
    .appcenter-video {
        width: 100%;
    }
    
    .s-5 {
        grid-column: 1 / 7;
        grid-row: 102 / 103;
    }
    
    .st-4 {
        grid-column: 1 / 2;
        grid-row: 103 / 104;
    }
    
    .fp-9 {
        grid-column: 2 / 6;
        grid-row: 104 / 105;
        position: relative;
        top: 0px;
    }
    
    .owc-1 {
        grid-column: 1 / 3;
        grid-row: 106 / 109;
        background-image: url(/yunify-glyph/image/other-works-1.png);
    }
    
    .owc-2 {
        grid-column: 3 / 5;
        grid-row: 106 / 109;
        background-image: url(/yunify-glyph/image/other-works-2.png);
    }
    
    .owc-3 {
        grid-column: 5 / 7;
        grid-row: 106 / 109;
        background-image: url(/yunify-glyph/image/other-works-3.png);
    }
    
    .owc-4 {
        grid-column: 1 / 3;
        grid-row: 109 / 112;
        background-image: url(/yunify-glyph/image/other-works-4.png);
    }
    
    .owc-5 {
        grid-column: 3 / 5;
        grid-row: 109 / 112;
        background-image: url(/yunify-glyph/image/other-works-5.png);
    }
    
    .owc-6 {
        grid-column: 5 / 7;
        grid-row: 109 / 112;
        background-image: url(/yunify-glyph/image/other-works-6.png);
    }
    
    .other-works-container {
        background-size: contain;
        background-color: #000000;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    footer {
        grid-column: 1 / 7;
        grid-row: 112 / 113;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1px;
        color: #8d8d8d;
        border-top: 1px solid #c6c6c6;
        padding-top: 16px;
        align-self: end;
    }
}

@media (max-width: 890px) {
    main {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(150, 80px);
        padding: 60px;
        background-color: #f5f5f5;
    }
}