@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Regular2.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Civil Premium";
    src: url(/font/CivilPremium-Bold2.woff2);
    font-weight: bold;
}

* {
    font-family: "Civil Premium";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    justify-content: center;
    background-color: #898989;
    margin: 0px;
}

main {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(82, 80px);
    max-width: 1120px;
    padding: 80px;
    background-color: #f5f5f5;
}

header {
    background-image: url(/xxpie/image/xxpie.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1280px;
    width: 100%;
    height: 460px;
    position: absolute;
}

.back {
    background-color: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    position: relative;
    z-index: 3;
    top: 10px;
    left: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 74px;
    height: 32px;
    transition: background-color 0.2s cubic-bezier(0.16, 0.41, 0.74, 0.96);
}

.back:hover {
    background-color: #166ced;
}

.back-icon {
    position: relative;
    left: 8px;
}

.back-link {
    display: inline;
}

.back-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    position: relative;
    left: 11px;
    top: 1px;
}

h1 {
    grid-column: 1 / 13;
    grid-row: 5 / 7;
    align-self: center;
    font-size: 49px;
    line-height: 59px;
    font-weight: normal;
    letter-spacing: -2.9px;
    margin: 0px;
    position: relative;
    top: 20px;
}

.bold-title {
    letter-spacing: -1.5px;
}

.seperator {
    border-bottom: 1px solid #c6c6c6;
}

.s-1 {
    grid-column: 1 / 13;
    grid-row: 7 / 8;
    position: relative;
    top: -40px;
}

.work-info {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.info-name {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
    color: #acacac;
    position: relative;
    top: -40px;
}

.info-content {
    grid-column: 3 / 6;
    grid-row: 8 / 10;
    color: #000000;
    position: relative;
    top: -40px;
}

.info-name-item:not(:last-child), .info-content-item:not(:last-child) {
    margin-bottom: 14px;
}

.work-description {
    grid-column: 7 / 13;
    grid-row: 8 / 14;
    position: relative;
    top: -40px;
}

.work-description-paragraph:not(:last-child) {
    margin-bottom: 14px;
} 

p {
    margin: 0px;
}

.body-text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
}

.quick-link {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    line-height: 14px;
    align-self: end;
    position: relative;
    top: -30px;
}

.link {
    font-size: 14px;
    line-height: 14px;
    color: #166ced;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.quick-link-item:not(:last-child) {
    margin-bottom: 16px;
}

.s-2 {
    grid-column: 1 / 13;
    grid-row: 13 / 14;
}

.section-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: #acacac;
    font-weight: normal;
    margin: 0px;
}

.st-1 {
    grid-column: 1 / 3;
    grid-row: 14 / 15;
}

.album {
    grid-column: 1 / 13;
    grid-row: 15 / 23;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 7px 27px rgba(0, 0, 0, 0.14);
}

.album_mobile {
    grid-column: 2 / 7;
    grid-row: 24 / 32;
    width: 100%;
}

.upload_mobile {
    grid-column: 7 / 12;
    grid-row: 24 / 32;
    width: 100%;
}

.icon-container {
    grid-column: 1 / 13;
    grid-row: 33 / 52;
    background-color: #ffffff;
    padding: 116px 108px;
    
}

.grid-container {
    display: grid;
    row-gap: 52px;
    column-gap: 0px;
    grid-template-columns: repeat(10, minmax(48px, 1fr));
    width: 100%;
    justify-items: center;
}

.s-3 {
    grid-column: 1 / 13;
    grid-row: 52 / 53;
}

.st-2 {
    grid-column: 1 / 13;
    grid-row: 53 / 54;
}

.process-title-1 {
    grid-column: 2 / 12;
    grid-row: 54 / 55;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin: 0px;
}

.process-title-text {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-top: 15px;
}

.fp-1 {
    grid-column: 2 / 12;
    grid-row: 55 / 56;
    margin-top: 0px;
}

.design-system {
    grid-column: 1 / 13;
    grid-row: 57 / 66;
    background-image: url(/xxpie/image/design-system.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.process-title-2 {
    grid-column: 2 / 12;
    grid-row: 67 / 68;
}

.fp-2 {
    grid-column: 2 / 12;
    grid-row: 68 / 69;
    margin-top: 0px;
}

.details {
    grid-column: 2 / 12;
    grid-row: 70 / 82;
    background-image: url(/xxpie/image/details.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

footer {
    grid-column: 1 / 13;
    grid-row: 82 / 83;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1px;
    color: #8d8d8d;
    border-top: 1px solid #c6c6c6;
    padding-top: 16px;
    align-self: end;
}

@media (max-width: 1112px) {
    main {
        display: grid;
        gap: 17px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(89, 80px);
        max-width: 1120px;
        padding: 70px;
        background-color: #f5f5f5;
    }
    
    header {
        background-image: url(/xxpie/image/xxpie.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1280px;
        width: 100%;
        height: 441px;
        position: absolute;
    }
    
    .back {
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        position: relative;
        z-index: 3;
        top: 10px;
        left: 8px;
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 74px;
        height: 32px;
        transition: background-color 0.2s cubic-bezier(0.16, 0.41, 0.74, 0.96);
    }
    
    .back:hover {
        background-color: #166ced;
    }
    
    .back-icon {
        position: relative;
        left: 8px;
    }
    
    .back-link {
        display: inline;
    }
    
    .back-text {
        color: #ffffff;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        position: relative;
        left: 11px;
        top: 1px;
    }
    
    h1 {
        grid-column: 1 / 7;
        grid-row: 5 / 8;
        align-self: center;
        font-size: 38px;
        line-height: 48px;
        font-weight: normal;
        letter-spacing: -1.5px;
        margin: 0px;
        position: relative;
        top: 0px;
    }
    
    .bold-title {
        letter-spacing: -1px;
    }
    
    .seperator {
        border-bottom: 1px solid #c6c6c6;
    }
    
    .s-1 {
        grid-column: 1 / 7;
        grid-row: 7 / 8;
        position: relative;
        top: 0px;
    }
    
    .work-info {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.1px;
    }
    
    .info-name {
        grid-column: 1 / 2;
        grid-row: 8 / 10;
        color: #acacac;
        position: relative;
        top: 0px;
    }
    
    .info-content {
        grid-column: 2 / 4;
        grid-row: 8 / 10;
        color: #000000;
        position: relative;
        top: 0px;
    }
    
    .info-name-item:not(:last-child), .info-content-item:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .work-description {
        grid-column: 4 / 7;
        grid-row: 8 / 14;
        position: relative;
        top: 0px;
    }
    
    .work-description-paragraph:not(:last-child) {
        margin-bottom: 12px;
    } 
    
    p {
        margin: 0px;
    }
    
    .body-text {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.1px;
    }
    
    .link {
        font-size: 14px;
        line-height: 14px;
        color: #166ced;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
    
    .quick-link-item:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .s-2 {
        grid-column: 1 / 7;
        grid-row: 14 / 15;
    }
    
    .section-title {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.1px;
        color: #acacac;
        font-weight: normal;
        margin: 0px;
    }
    
    .st-1 {
        grid-column: 1 / 2;
        grid-row: 15 / 16;
    }
    
    .album {
        grid-column: 1 / 7;
        grid-row: 16 / 23;
        width: 100%;
        border-radius: 6px;
        border: 1px solid #ffffff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04), 0px 9px 30px rgba(0, 0, 0, 0.07);
    }
    
    .album_mobile {
        grid-column: 1 / 4;
        grid-row: 24 / 31;
        align-items: center;
        width: 100%;
        position: relative;
    }
    
    .upload_mobile {
        grid-column: 4 / 7;
        grid-row: 24 / 31;
        align-items: center;
        width: 100%;
        position: relative;
    }
    
    .icon-container {
        grid-column: 1 / 7;
        grid-row: 33 / 60;
        background-color: #ffffff;
        padding: 100px 60px;
        
    }
    
    .grid-container {
        display: grid;
        row-gap: 52px;
        column-gap: 0px;
        grid-template-columns: repeat(7, minmax(48px, 1fr));
        width: 100%;
        justify-items: center;
    }
    
    .s-3 {
        grid-column: 1 / 7;
        grid-row: 60 / 61;
    }
    
    .st-2 {
        grid-column: 1 / 2;
        grid-row: 61 / 62;
    }
    
    .process-title-1 {
        grid-column: 2 / 6;
        grid-row: 62 / 63;
        align-self: end;
        position: relative;
        top: 40px;
    }
    
    .subtitle {
        font-size: 22px;
        line-height: 22px;
        letter-spacing: -0.2px;
        margin: 0px;
    }
    
    .process-title-text {
        font-size: 31px;
        line-height: 38px;
        letter-spacing: -0.8px;
        margin-top: 6px;
    }
    
    .fp-1 {
        grid-column: 2 / 6;
        grid-row: 63 / 64;
        margin-top: 0px;
    }
    
    .design-system {
        grid-column: 1 / 7;
        grid-row: 65 / 74;
        background-image: url(/xxpie/image/design-system.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        position: relative;
        top: 40px;
    }
    
    .process-title-2 {
        grid-column: 2 / 6;
        grid-row: 74 / 75;
        align-self: end;
        position: relative;
        top: 45px;
    }
    
    .fp-2 {
        grid-column: 2 / 6;
        grid-row: 75 / 76;
        margin-top: 0px;
    }
    
    .details {
        grid-column: 1 / 7;
        grid-row: 77 / 89;
        background-image: url(/xxpie/image/details.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    footer {
        grid-column: 1 / 7;
        grid-row: 89 / 90;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1px;
        color: #8d8d8d;
        border-top: 1px solid #c6c6c6;
        padding-top: 16px;
        align-self: end;
    }
}

@media (max-width: 890px) {
    main {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(87, 80px);
        max-width: 1120px;
        padding: 60px;
        background-color: #f5f5f5;
    }
    
    header {
        background-image: url(/xxpie/image/xxpie.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1280px;
        width: 100%;
        height: 425px;
        position: absolute;
    }
    
    .back {
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        position: relative;
        z-index: 3;
        top: 6px;
        left: 4px;
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 65px;
        height: 28px;
    }
    
    .back-icon {
        position: relative;
        left: 7px;
        width: 14px;
    }
    
    .back-link {
        display: inline;
    }
    
    .back-text {
        color: #ffffff;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        position: relative;
        left: 10px;
        top: 0px;
    }
    
    h1 {
        grid-column: 1 / 7;
        grid-row: 5 / 7;
        align-self: center;
        font-size: 28px;
        line-height: 38px;
        font-weight: normal;
        letter-spacing: -0.8px;
        margin: 0px;
        position: relative;
        top: -10px;
    }
    
    .bold-title {
        letter-spacing: -0.4px;
    }
    
    .seperator {
        border-bottom: 1px solid #c6c6c6;
    }
    
    .s-1 {
        grid-column: 1 / 7;
        grid-row: 6 / 7;
        position: relative;
        top: 0px;
    }
    
    .work-info {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: -0.1px;
    }
    
    .info-name {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
        color: #acacac;
        position: relative;
        top: 0px;
    }
    
    .info-content {
        grid-column: 3 / 7;
        grid-row: 7 / 8;
        color: #000000;
        position: relative;
        top: 0px;
    }
    
    .info-name-item:not(:last-child), .info-content-item:not(:last-child) {
        margin-bottom: 8px;
    }
    
    .work-description {
        grid-column: 3 / 7;
        grid-row: 9 / 14;
        position: relative;
        top: -30px;
    }
    
    .work-description-paragraph:not(:last-child) {
        margin-bottom: 10px;
    } 
    
    p {
        margin: 0px;
    }
    
    .body-text {
        font-size: 17px;
        line-height: 25px;
        letter-spacing: -0.1px;
    }
    
    .link {
        font-size: 14px;
        line-height: 14px;
        color: #166ced;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
    
    .quick-link-item:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .s-2 {
        grid-column: 1 / 7;
        grid-row: 14 / 15;
    }
    
    .section-title {
        font-size: 17px;
        line-height: 26px;
        letter-spacing: -0.1px;
        color: #acacac;
        font-weight: normal;
        margin: 0px;
    }
    
    .st-1 {
        grid-column: 1 / 2;
        grid-row: 15 / 16;
    }
    
    .album {
        grid-column: 1 / 7;
        grid-row: 16 / 22;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #ffffff;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06), 0px 7px 22px rgba(0, 0, 0, 0.06);
    }
    
    .album_mobile {
        grid-column: 1 / 4;
        grid-row: 23 / 29;
        align-items: center;
        width: 100%;
        position: relative;
    }
    
    .upload_mobile {
        grid-column: 4 / 7;
        grid-row: 23 / 29;
        align-items: center;
        width: 100%;
        position: relative;
    }
    
    .icon-container {
        grid-column: 1 / 7;
        grid-row: 31 / 56;
        background-color: #ffffff;
        padding: 70px 65px;
        
    }
    
    .grid-container {
        display: grid;
        row-gap: 52px;
        column-gap: 41px;
        grid-template-columns: repeat(7, minmax(40px, 1fr));
        width: 100%;
        justify-items: center;
    }

    .icon-image {
        width: 40px;
    }
    
    .s-3 {
        grid-column: 1 / 7;
        grid-row: 56 / 57;
    }
    
    .st-2 {
        grid-column: 1 / 2;
        grid-row: 57 / 58;
    }
    
    .process-title-1 {
        grid-column: 1 / 7;
        grid-row: 58 / 59;
        position: relative;
        top: 15px;
    }
    
    .subtitle {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.1px;
        margin: 0px;
    }
    
    .process-title-text {
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.8px;
        margin-top: 8px;
    }
    
    .fp-1 {
        grid-column: 1 / 7;
        grid-row: 59 / 60;
        margin-top: 0px;
    }
    
    .design-system {
        grid-column: 1 / 7;
        grid-row: 61 / 73;
        background-image: url(/xxpie/image/design-system-medium.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
    
    .process-title-2 {
        grid-column: 1 / 7;
        grid-row: 74 / 75;
        position: relative;
        top: -10px;
    }
    
    .fp-2 {
        grid-column: 1 / 7;
        grid-row: 75 / 76;
        margin-top: -25px;
    }
    
    .details {
        grid-column: 1 / 7;
        grid-row: 76 / 86;
        background-image: url(/xxpie/image/details.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        position: relative;
        top: 40px;
    }
    
    footer {
        grid-column: 1 / 7;
        grid-row: 87 / 88;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1px;
        color: #8d8d8d;
        border-top: 1px solid #c6c6c6;
        padding-top: 16px;
        align-self: end;
    }
}

@media (max-width: 768px) {
    main {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(81, 80px);
        max-width: 1120px;
        padding: 45px;
        background-color: #f5f5f5;
    }

    header {
        background-image: url(/xxpie/image/xxpie.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-width: 1280px;
        width: 100%;
        height: 309px;
        position: absolute;
    }
    
    .back {
        background-color: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        position: relative;
        z-index: 3;
        top: 6px;
        left: 4px;
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 65px;
        height: 28px;
    }
    
    .back-icon {
        position: relative;
        left: 7px;
        width: 14px;
    }
    
    .back-link {
        display: inline;
    }
    
    .back-text {
        color: #ffffff;
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        position: relative;
        left: 10px;
        top: 0px;
    }
    
    h1 {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
        align-self: center;
        font-size: 24px;
        line-height: 32px;
        font-weight: normal;
        letter-spacing: -0.5px;
        margin: 0px;
        position: relative;
        top: -5px;
    }
    
    .bold-title {
        letter-spacing: -0.4px;
    }
    
    .seperator {
        border-bottom: 1px solid #c6c6c6;
    }
    
    .s-1 {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        position: relative;
        top: 0px;
    }
    
    .work-info {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    
    .info-name {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        color: #acacac;
        position: relative;
        top: 0px;
    }
    
    .info-content {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        color: #000000;
        position: relative;
        top: 0px;
    }
    
    .info-name-item:not(:last-child), .info-content-item:not(:last-child) {
        margin-bottom: 8px;
    }
    
    .work-description {
        grid-column: 1 / 3;
        grid-row: 8 / 12;
        position: relative;
        top: -40px;
    }
    
    .work-description-paragraph:not(:last-child) {
        margin-bottom: 10px;
    } 
    
    p {
        margin: 0px;
    }
    
    .body-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
    }
    
    .link {
        font-size: 14px;
        line-height: 14px;
        color: #166ced;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
    
    .quick-link-item:not(:last-child) {
        margin-bottom: 16px;
    }
    
    .s-2 {
        grid-column: 1 / 3;
        grid-row: 12 / 13;
    }
    
    .section-title {
        font-size: 17px;
        line-height: 26px;
        letter-spacing: -0.1px;
        color: #acacac;
        font-weight: normal;
        margin: 0px;
    }
    
    .st-1 {
        grid-column: 1 / 2;
        grid-row: 13 / 14;
    }
    
    .album {
        grid-column: 1 / 3;
        grid-row: 14 / 18;
        justify-self: center;
        width: 100%;
        max-width: 490px;
        border-radius: 3px;
        border: 1px solid #ffffff;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10), 0px 5px 16px rgba(0, 0, 0, 0.04);
    }
    
    .album_mobile {
        grid-column: 1 / 2;
        grid-row: 19 / 24;
        align-items: center;
        justify-self: center;
        width: 100%;
        max-width: 239px;
        position: relative;
    }
    
    .upload_mobile {
        grid-column: 2 / 3;
        grid-row: 19 / 24;
        align-items: center;
        justify-self: center;
        width: 100%;
        max-width: 239px;
        position: relative;
    }
    
    .icon-container {
        grid-column: 1 / 3;
        grid-row: 25 / 53;
        background-color: #ffffff;
        padding: 60px 52px;
        
    }
    
    .grid-container {
        display: grid;
        row-gap: 52px;
        column-gap: 28px;
        grid-template-columns: repeat(6, minmax(40px, 1fr));
        width: 100%;
        justify-items: center;
    }

    .icon-image {
        width: 36px;
    }
    
    .s-3 {
        grid-column: 1 / 3;
        grid-row: 53 / 54;
    }
    
    .st-2 {
        grid-column: 1 / 2;
        grid-row: 54 / 55;
    }
    
    .process-title-1 {
        grid-column: 1 / 3;
        grid-row: 55 / 56;
        position: relative;
        top: 15px;
    }
    
    .subtitle {
        font-size: 19px;
        line-height: 19px;
        letter-spacing: -0.1px;
        margin: 0px;
    }
    
    .process-title-text {
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.6px;
        margin-top: 7px;
    }
    
    .fp-1 {
        grid-column: 1 / 3;
        grid-row: 56 / 58;
        margin-top: 0px;
    }
    
    .design-system {
        grid-column: 1 / 3;
        grid-row: 58 / 70;
        background-image: url(/xxpie/image/design-system-small.png);
        background-size: contain;
        background-position: left;
        background-repeat: no-repeat;
    }
    
    .process-title-2 {
        grid-column: 1 / 3;
        grid-row: 71 / 72;
        align-self: end;
        position: relative;
        top: 30px;
    }
    
    .fp-2 {
        grid-column: 1 / 3;
        grid-row: 72 / 73;
        margin-top: 0px;
    }
    
    .details {
        grid-column: 1 / 3;
        grid-row: 74 / 81;
        max-width: 490px;
        background-image: url(/xxpie/image/details.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        position: relative;
        top: -30px;
    }
    
    footer {
        grid-column: 1 / 3;
        grid-row: 81 / 82;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1px;
        color: #8d8d8d;
        border-top: 1px solid #c6c6c6;
        padding-top: 16px;
        align-self: end;
    }
}